/*----------------------------------------------------------------------------
  Body
----------------------------------------------------------------------------*/
body {
  font-family: $font1;
}


/*----------------------------------------------------------------------------
  Headings
----------------------------------------------------------------------------*/
h1 {
  font-size: 2rem;
}

/*----------------------------------------------------------------------------
  HTML
----------------------------------------------------------------------------*/
html {
  color: $black80;
  font-size: 14px;
}


/*----------------------------------------------------------------------------
  Selections
----------------------------------------------------------------------------*/
::-moz-selection {
  background: thistle;
}

::selection {
  background: thistle;
}
