/*----------------------------------------------------------------------------
  Body
----------------------------------------------------------------------------*/
body {
  font-family: $font1;
}


/*----------------------------------------------------------------------------
  HTML
----------------------------------------------------------------------------*/
html {
  color: $black80;
  font-size: 14px;
}
